// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

//Colors
$color-primary: #ffa600;
$color-dark: #10181e;
$color-dark-text: #0c161c;
$color-blue: #0070ff;

$color-grey: #808080;
